<launch>
    <!-- Launch the trajectory_generator_node -->
    <node pkg="trajectory_generator" type="trajectory_generator_node" name="trajectory_generator_node" output="screen" />

    <!-- Launch RViz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find trajectory_generator)/rviz/config.rviz" />
</launch>